{
  "presets": [
    "vue",
    [
      "@babel/preset-env",
      {
        "targets": {
          "electron": "5.0"
        }
      }
    ]
  ],
  "plugins": [
    ["@babel/plugin-transform-typescript", { "legacy": true }],
    ["@babel/plugin-proposal-decorators", { "legacy": true }]
  ]
}
