.App {
    &:not(.isDebug) {
        .Timeline,
        .SelectionStatistics {
            display: none !important;
        }
    }
}

.Debug {
    position: absolute;
    left: 510px;
    top: 5px;
    width: 280px;
    z-index: 111;
}
