.TaskEditForm {
    td:not(.Complex) {
        input,
        textarea {
            width: 100%;
        }

        textarea {
            min-height: 64px;
        }
    }

    .Complex {
        > div {
            align-items: baseline;
            display: flex;
        }
    }
}