& {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.TasksTable {
    overflow-y: scroll;
    flex-grow: 1;
}

& {
    .TRow {
        &:nth-child(2n) {
            background: #fcfcfc;
        }

        &:hover {
            background-color: #f5f5f5;

            .TCol.--playback .IconAsInput.icofont-play {
                display: block;
            }
        }

        &.selected {
            background-color: #f0f0f0 !important;
        }

        &.--header {
            padding: 1px 0 3px 0;

            .TCol {
                font-weight: bold;
            }
        }

        &.notchargeable,
        &.distributed {
            .TRowContent {
                opacity: 0.4;
            }
        }

        &.distributed,
        &.notchargeable {
            .TCol.--playback .IconAsInput.icofont-play {
                display: none;
            }
        }

        &.isOnHold {
            .IconOnHold {
                color: #E9D086;
            }
        }

        .TRowContent {
            display: grid;
            grid-template-columns: 22px 22px 22px 73px 1fr 22px 63px 34px;
            grid-template-rows: auto;

            margin: 0px 1px;
            padding: 1px;

            .TCol {
                padding: 1px 3px;

                &.--code {
                    white-space: nowrap;
                }

                &.--time {
                    color: #364abc;
                }

                &.--selected,
                &.--distributed,
                &.--chargeable,
                &.--frozen {
                    align-self: center;
                    text-align: center;
                }

                &.--timespan {
                    align-self: center;

                    .--timespan-charge {
                        opacity: 0.5;
                    }
                }

                &.--title {
                    .Note--Content,
                    .Title--Content {
                        display: block;
                    }
                }

                &.--timespan {
                    span {
                        display: block;
                    }
                }

                &.--playback {
                    align-self: center;
                }
            }
        }

        &.timered .TRowContent {
            background-color: #ebffeb !important;
            border: 1px solid #2fbb26;
            padding: 0;
        }
    }

    .TasksTable { // not header
        .TCol.--code,
        .TCol.--title,
        .TCol.--timespan {
            cursor: pointer;
        }
    }

    .TasksTable:not(.ShowAsReport) {
        .TRow.isOnHold {
            background: #fffef2;
        }

        .TRow.isDone {
            background-color: #fafffa;

            .IconDone.active {
                color: #94CC94;
            }
        }
    }

    .TasksTable.ShowAsReport {
        .TCol.--status {
            opacity: 0;
        }
    }

    .TRowDate {
        display: grid;
        grid-template-columns: 22px 1fr 114px 63px 22px;
        grid-template-rows: auto;

        padding: 2px 0px;
        color: #364abc;

        .TCol {
            padding: 1px 3px;

            &.--timespan {
                text-align: right;
            }

            &.--group-date {
                position: relative;

                &:after {
                    position: absolute;
                    content: "";
                    display: block;
                    height: 1px;
                    width: 67%;
                    background: #b8c1f1;
                    top: 9px;
                    right: 5px;
                }
            }

            &.--timespan-charge {
                .original-time {
                    opacity: 0.5;
                }
            }

            &.--timespan-spent {
                opacity: 0.5;
            }
        }
    }

}

.SelectionStatistics {
    background: white;
    padding: 4px 6px;
    border-top: 1px solid grey;
    border-radius: 3px;
}

[class*=" icofont-"],
[class^=icofont-] {
    font-size: 17px;
}

.TRow.logged {
    .TRowContent {
        .TCol {
            color: darkgrey !important;
        }
    }
}

.TRow {
    .TRowContent {
        .IconAsInput {
            opacity: 0.1;
            cursor: pointer;

            &.active {
                opacity: 1 !important;
            }
        }

        .TCol.--playback {
            .IconAsInput {
                background: #e2e2e2;
                opacity: 1 !important;
                font-size: 13px;
                border-radius: 14px;
                color: white;
                display: inline-block;
                width: 28px;
                height: 28px;
                text-align: center;
                padding-top: 9px;

                &.icofont-square {
                    background: #4db34d !important;
                    color: white !important;
                }
            }
        }
    }

    &:not(.timered) {
        .TCol.--playback {
            .IconAsInput:hover {
                background: #74b874;
            }
        }
    }
}

.TRow:hover {
    .TRowContent {
        .IconAsInput {
            opacity: 0.3;

            &:hover {
                opacity: 0.5;
            }
        }
    }
}

.Timeline {
    height: 52px;
    overflow-x: scroll;
    flex-shrink: 0;
}

.TimelineItems {
    width: auto;
    height: 40px;
    display: flex;
    padding: 3px;

    > div {
        height: 40px;
    }

    &:hover {
        > div {
            flex-shrink: 0;
        }
    }
}

.ellipsis {
    position: relative;
}

.ellipsis:before {
    content: 'X';
    visibility: hidden;
}

.ellipsis span {
    position: absolute;
    left: 0;
    right: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
