.TaskEdit {
    overflow-y: auto;
    max-height: 100%;
}

.TaskEditForm {
    td {
        vertical-align: top;
    }

    td:not(.Complex) {
        input,
        textarea {
            width: 100%;
        }

        textarea {
            min-height: 64px;
        }
    }

    .Complex {
        > div {
            align-items: baseline;
            display: flex;
            justify-content: space-between;
        }
    }

    .btn-primary {
        padding-left: 24px;
        padding-right: 24px;
    }

    .btn-secondary {
        padding-left: 24px;
        padding-right: 24px;
    }
}